.principal{
    background: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
    overflow: hidden;
    z-index: 0;
    position: relative;
}
*{
    font-family: 'Orbitron', sans-serif;
}
span{
    background: linear-gradient(97.16deg, #F86CF8 12.04%, #64CEF5 81.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
a{
    font-family: 'Poppins', sans-serif;
    color: white;
}
p, li{
    font-family: 'Poppins', sans-serif; 
}
nav .buscador1 .busca, nav .buscador2{
    display: none;
}
nav .buscador1{
    color: white;
    margin: 0;
    font-size: 23px;
    padding: 2% 8%;
}
nav .buscador2{
    width: 100%;
}
/* parte1 */
.parte1 .columna1 .boton1p1, .parte2 .textop2 button,.parte3 div .b1p3{
    border: 0;
    background: linear-gradient(97.16deg, #D10ED1 12.04%, #10A3DA 81.84%);
}
.parte1 .columna1 .boton2p1, .parte3 div .b2p3{
    background: transparent;
    border: 1px solid blue;
}

.parte1 .columna1 h2{
    margin-bottom: 6%;
}
.parte1 .columna1 p{
    margin-bottom: 10%;
}
.parte1 .columna1 button{
    margin-bottom: 6%;
}
/* parte2 */
.parte2 .img img{
    width: 100%;
}
/* parte3 */
.parte3 div{
    padding: 2% 2%;
    background-color: #090823;
    border-radius: 0 15px 0 15px;
}
.footer{
    background: #090823;
}

.fon1{
    left: 0;
}
.fon2{
    right: -18.3%;
    top: 3%;
    transform: rotate(90deg);
}
.fon3{
    left: -25%;
    transform: rotate(-90deg);
    top: 23%;
}
.fon4{
    right: -18.3%;
    top: 28%;
    transform: rotate(90deg);
}
.fon5{
    left: -25%;
    transform: rotate(-90deg);
    top: 59%;
}
.fon6{
    right: -18.3%;
    top: 71%;
    transform: rotate(90deg);
}
button:hover{
    opacity: 0;
    animation-name: magic;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
@keyframes magic {
    0%{
        opacity: 0;
        transform: scale(.3) translate3d(0px, 0px, 0px);
    }
    50%{
        opacity: .9;
        transform: scale(1.1);
    }
    80%{
        opacity: 1;
        transform: scale(.89);
    }
    100%{
        opacity: 1;
        transform: scale(1) translate3d(0px, 0px, 0px);
    }
/*            100% {
      opacity: 0;
      -webkit-transform-origin: 200% 500%;
      transform-origin: 200% 500%;
      -webkit-transform: scale(0, 0) rotate(270deg);
      transform: scale(0, 0) rotate(270deg);
    }
*/
}

.parte1 .columna2 .img-fluit{
animation-name: imagen;
animation-duration: 6s;
width: 100%;
}
@keyframes imagen {
0%{-webkit-transform:rotate3d(-1,1,0,80deg);
transform:rotate3d(-1,1,0,80deg);
opacity:0}100%{-webkit-transform:rotate3d(1,1,0,0deg);
transform:rotate3d(1,1,0,0deg);opacity:1}}

.parte1 .columna2  .img{
animation-name: img;
animation-duration: 4s;
}
@keyframes img{
0%{-webkit-transform:translateY(-1000px) scaleY(2.5) scaleX(.2);
transform:translateY(-1000px) scaleY(2.5) scaleX(.2);
-webkit-transform-origin:50% 0;
transform-origin:50% 0;-webkit-filter:blur(40px);
filter:blur(40px);
opacity:0}100%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);
transform:translateY(0) scaleY(1) scaleX(1);
-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);
opacity:1}}

nav .buscador1 .log{
animation-name: logo;
animation-duration: 6s;
}
@keyframes logo {
0%{-webkit-transform:translateZ(-1400px);
transform:translateZ(-1400px);
opacity:0}100%{-webkit-transform:translateZ(0);
transform:translateZ(0);
opacity:1}}

.parte2 .img img{
animation-name: imgp2;
animation-duration: 4s;
animation-delay: 5s;
width: 100%;
}

@keyframes imgp2 {
0%{-webkit-transform:translateX(-800px) rotateY(-30deg) scale(6.5);
transform:translateX(-800px) rotateY(-30deg) scale(6.5);
-webkit-transform-origin:200% 50%;
transform-origin:200% 50%;opacity:0}
100%{-webkit-transform:translateX(0) rotateY(0) scale(1);
transform:translateX(0) rotateY(0) scale(1);
-webkit-transform-origin:-600px 50%;
transform-origin:-600px 50%;
opacity:1}
}

.fon1, .fon2, .fon3, .fon4, .fon5, .fon6{animation-name: fondosc;animation-duration: 4s;animation-iteration-count: infinite;z-index: -1;}

@keyframes fondosc {
0%{opacity:0}
10%{opacity:0}
10.1%{opacity:1}
10.2%{opacity:0}
20%{opacity:0}
20.1%{opacity:1}
20.6%{opacity:0}
30%{opacity:0}
30.1%{opacity:1}
30.5%{opacity:1}
30.6%{opacity:0}
45%{opacity:0}
45.1%{opacity:1}
50%{opacity:1}
55%{opacity:1}
55.1%{opacity:0}
57%{opacity:0}
57.1%{opacity:1}
60%{opacity:1}
60.1%{opacity:0}
65%{opacity:0}
65.1%{opacity:1}
75%{opacity:1}
75.1%{opacity:0}
77%{opacity:0}
77.1%{opacity:1}
85%{opacity:1}
85.1%{opacity:0}
86%{opacity:0}
86.1%{opacity:1}
100%{opacity:1}
}
