
@media (max-width: 349.98px){
    nav .buscador2{
        display: block;
    }
    nav .buscador1 .logo{
        width: 83%;
    }
    nav .buscador1 .menu{
        width: 10%;
        text-align: end;
    }
    nav .buscador1 .menu a{
        color: white;
    }
    nav .buscador1{
        font-size: 16px;
        padding: 4% 4%;
        justify-content: space-between;
    }
    nav .buscador2{
        font-size: 14px;
        padding-bottom: 4%;
    }
    /* parte1 */
    .parte1{
        width: 100%;
        margin: 0;
        justify-content: center;
        padding-bottom: 2%;
        position: relative;
    }
    .parte1 .columna1 .tp{
        display: none;
    }
    .parte1 .columna1{
        order: 2;
        padding: 0;
        text-align: center;
        width: 80%;
        color: white;
    }
    .parte1 .columna2{
        width: 90%;
        padding: 4% 0%;
        color: white;
        justify-content: center;
        display: flex;
    }
    .parte1 .columna1 h2{
        font-size: 23px;
        margin: 0px 0 6% 0;
        text-align: center;
    }
    .parte1 .columna1 p{
        font-size: 16px;
        text-align: center;
    }
    .parte1 .columna1 .boton1p1{
        font-size: 12px;
        border-radius: 2px;
        border: 0;
        padding: 2px 5%;
    }
    .parte1 .columna1 .boton2p1{
        font-size: 13px;
        padding: 1px 9%;
        border-radius: 2px;
    }
    .parte1 .columna2 .img-fluit{
        width: 80%;
    }
    .parte1 .columna2 .tp1{
        left: 4%;
        top: 15%;
        font-size: 10px;
    }
    .parte1 .columna2 .tp2{
        left: 29%;
        top: -1%;
        font-size: 10px;
    }
    .parte1 .columna2 .tp3{
        right: 4%;
        top: 5%;
        font-size: 10px;
    }
    .parte1 .columna2 .img{
        display: none;
    }
    /* parte2 */
    .parte2 .img{
        width: 80%;
    }
    .parte2 .textop2{
        width: 80%;
        color: white;
    }
    .parte2 .textop2 h2{
        font-size: 20px;
        margin-top: 8%;
    }
    .parte2 .textop2 p{
        font-size: 9px;
        margin:0 0 5% 0;
    }
    .parte2 .textop2 button{
        font-size: 20px;
        border-radius: 5px;
        color: white;
    }
    /* parte3 */
    .parte3 .eliminar{
        display: none;
    }
    .parte3, .tituloparte3{
        padding: 6% 12%;
        color: white;
        gap: 15px;
    }
    .tituloparte3 h2{
        font-size: 20px;
        padding-right: 5%;
    }
    .tituloparte3 a{
        top: 23%;
        position: absolute;
        right: 13%;
    }
    .tituloparte3 p{
        font-size: 9px;
    }
    .parte3 div img{
        width: 100%;
    }
    .parte3 div h4{
        font-size: 14px;
        margin-top: 5%;
    }
    .parte3 div p{
        font-size: 12px;
    }
    .parte3 div button{
        font-size: 14px;
        border-radius: 5px;
    }
    /* parte4 */
    .parte4{
        display: none;
    }
    .tituloparte4 div{
        font-size: 10px;
        padding: 2% 10%;
    }
    .tituloparte4 h2{
        font-size: 18px;
    }
    .tituloparte4 p{
        font-size: 10px;
    }
    .imgmovil{
        padding: 2% 10%;
    }
    .imgmovil div img{
        width: 100%;
    }
    .imgmovil div h2{
        font-size: 22px;
    }
    .imgmovil div .uno{
        font-size: 22px;
        left: 77%;
        top: 42%;
        position: absolute;
    }
    .imgmovil div .dos{
        font-size: 22px;
        left: 85%;
        top: 84%;
        position: absolute;
    }
    /* pie de pagina */
    .footer{
        padding: 10% 10%;
    }
    .footer .text-light .col-12, .footer .text-light .col-md-2{
        padding-bottom: 7%;
    }
    .footer .footerp1 h2{
        font-size: 23px;
    }
    .footer .footerp1 p{
        font-size: 10px;
    }
    .footer .footerp2 h4{
        font-size: 17px;
    }
    .footer .footerp2 ul{
        font-size: 12px;
    }
    .footer .footerp3 h4{
        font-size: 16px;
    }
    .footer .footerp3 ul{
        font-size: 12px;
    }
    .footer .footerp4 h4{
        font-size: 21px;
        padding-top: 5%;
    }
    .footer .footerp4 i{
        font-size: 23px;
    }
    .footer .footerp4 p{
        font-size: 16px;
    }
}
@media (min-width:350px) and (max-width: 449.98px){
    nav .buscador2{
        display: block;
    }
    nav .buscador1 .logo{
        width: 84%;
    }
    nav .buscador1 .menu{
        width: 10%;
        text-align: end;
    }
    nav .buscador1 .menu a{
        color: white;
    }
    nav .buscador1{
        font-size: 20px;
        padding: 4% 4%;
        justify-content: space-between;
    }
    nav .buscador2{
        font-size: 14px;
        padding-bottom: 4%;
    }
    /* parte1 */
    .parte1{
        width: 100%;
        margin: 0;
        justify-content: center;
        padding-bottom: 2%;
        position: relative;
    }
    .parte1 .columna1 .tp{
        display: none;
    }
    .parte1 .columna1{
        order: 2;
        padding: 0;
        text-align: center;
        width: 80%;
        color: white;
    }
    .parte1 .columna2{
        width: 90%;
        padding: 4% 0%;
        color: white;
        justify-content: center;
        display: flex;
    }
    .parte1 .columna1 h2{
        font-size: 27px;
        margin: 0px 0 6% 0;
        text-align: center;
    }
    .parte1 .columna1 p{
        font-size: 19px;
        text-align: center;
    }
    .parte1 .columna1 .boton1p1{
        font-size: 16px;
        border-radius: 2px;
        border: 0;
        padding: 2px 5%;
    }
    .parte1 .columna1 .boton2p1{
        font-size: 16px;
        padding: 1px 9%;
        border-radius: 2px;
    }
    .parte1 .columna2 .img-fluit{
        width: 80%;
    }
    .parte1 .columna2 .tp1{
        left: 4%;
        top: 21%;
        font-size: 10px;
    }
    .parte1 .columna2 .tp2{
        left: 29%;
        top: -1%;
        font-size: 10px;
    }
    .parte1 .columna2 .tp3{
        right: 4%;
        top: 9%;
        font-size: 10px;
    }
    .parte1 .columna2 .img{
        display: none;
    }
    /* parte2 */
    .parte2 .img{
        width: 80%;
    }
    .parte2 .textop2{
        width: 80%;
        color: white;
    }
    .parte2 .textop2 h2{
        font-size: 22px;
        margin-top: 8%;
    }
    .parte2 .textop2 p{
        font-size: 11px;
        margin:0 0 5% 0;
    }
    .parte2 .textop2 button{
        font-size: 20px;
        border-radius: 5px;
        color: white;
    }
    /* parte3 */
    .parte3 .eliminar{
        display: none;
    }
    .parte3, .tituloparte3{
        padding: 6% 12%;
        color: white;
        gap: 15px;
    }
    .tituloparte3 h2{
        font-size: 25px;
        padding-right: 5%;
    }
    .tituloparte3 a{
        top: 23%;
        position: absolute;
        right: 13%;
    }
    .tituloparte3 p{
        font-size: 14px;
    }
    .parte3 div img{
        width: 100%;
    }
    .parte3 div h4{
        font-size: 16px;
        margin-top: 5%;
    }
    .parte3 div p{
        font-size: 15px;
    }
    .parte3 div button{
        font-size: 16px;
        border-radius: 5px;
    }
    /* parte4 */
    .parte4{
        display: none;
    }
    .tituloparte4 div{
        font-size: 10px;
        padding: 2% 10%;
    }
    .tituloparte4 h2{
        font-size: 21px;
    }
    .tituloparte4 p{
        font-size: 12px;
    }
    .imgmovil{
        padding: 2% 10%;
    }
    .imgmovil div img{
        width: 100%;
    }
    .imgmovil div h2{
        font-size: 26px;
    }
    .imgmovil div .uno{
        font-size: 22px;
        left: 77%;
        top: 42%;
        position: absolute;
    }
    .imgmovil div .dos{
        font-size: 22px;
        left: 85%;
        top: 84%;
        position: absolute;
    }
    /* pie de pagina */
    .footer{
        padding: 10% 10%;
    }
    .footer .text-light .col-12, .footer .text-light .col-md-2{
        padding-bottom: 7%;
    }
    .footer .footerp1 h2{
        font-size: 23px;
    }
    .footer .footerp1 p{
        font-size: 10px;
    }
    .footer .footerp2 h4{
        font-size: 17px;
    }
    .footer .footerp2 ul{
        font-size: 12px;
    }
    .footer .footerp3 h4{
        font-size: 16px;
    }
    .footer .footerp3 ul{
        font-size: 12px;
    }
    .footer .footerp4 h4{
        font-size: 21px;
        padding-top: 5%;
    }
    .footer .footerp4 i{
        font-size: 23px;
    }
    .footer .footerp4 p{
        font-size: 16px;
    }
}
@media (min-width:450px) and (max-width: 575.98px){
    nav .buscador2{
        display: block;
    }
    nav .buscador1 .logo{
        width: 80%;
    }
    nav .buscador1 .menu{
        width: 10%;
        text-align: end;
    }
    nav .buscador1 .menu a{
        color: white;
    }
    nav .buscador1{
        font-size: 25px;
        padding: 4% 4%;
        justify-content: space-between;
    }
    nav .buscador2{
        font-size: 18px;
        padding-bottom: 4%;
    }
    /* parte1 */
    .parte1{
        width: 100%;
        margin: 0;
        justify-content: center;
        padding-bottom: 2%;
        position: relative;
    }
    .parte1 .columna1 .tp{
        display: none;
    }
    .parte1 .columna1{
        order: 2;
        padding: 0;
        text-align: center;
        width: 80%;
        color: white;
    }
    .parte1 .columna2{
        width: 90%;
        padding: 4% 0%;
        color: white;
        justify-content: center;
        display: flex;
    }
    .parte1 .columna1 h2{
        font-size: 35px;
        margin: 0px 0 6% 0;
        text-align: center;
    }
    .parte1 .columna1 p{
        font-size: 25px;
        text-align: center;
    }
    .parte1 .columna1 .boton1p1{
        font-size: 22px;
        border-radius: 2px;
        border: 0;
        padding: 2px 5%;
    }
    .parte1 .columna1 .boton2p1{
        font-size: 21px;
        padding: 1px 9%;
        border-radius: 2px;
    }
    .parte1 .columna2 .img-fluit{
        width: 80%;
    }
    .parte1 .columna2 .tp1{
        left: 4%;
        top: 20%;
        font-size: 14px;
    }
    .parte1 .columna2 .tp2{
        left: 29%;
        top: -1%;
        font-size: 14px;
    }
    .parte1 .columna2 .tp3{
        right: 4%;
        top: 8%;
        font-size: 14px;
    }
    .parte1 .columna2 .img{
        display: none;
    }
    /* parte2 */
    .parte2 .img{
        width: 80%;
    }
    .parte2 .textop2{
        width: 80%;
        color: white;
    }
    .parte2 .textop2 h2{
        font-size: 31px;
        margin-top: 10%;
    }
    .parte2 .textop2 p{
        font-size: 14px;
        margin:0 0 5% 0;
    }
    .parte2 .textop2 button{
        font-size: 20px;
        border-radius: 5px;
        color: white;
    }
    /* parte3 */
    .parte3 .eliminar{
        display: none;
    }
    .parte3, .tituloparte3{
        padding: 6% 12%;
        color: white;
        gap: 15px;
    }
    .tituloparte3 h2{
        font-size: 33px;
        padding-right: 5%;
    }
    .tituloparte3 a{
        top: 23%;
        position: absolute;
        right: 13%;
    }
    .tituloparte3 p{
        font-size: 20px;
    }
    .parte3 div img{
        width: 100%;
    }
    .parte3 div h4{
        font-size: 19px;
        margin-top: 5%;
    }
    .parte3 div p{
        font-size: 19px;
    }
    .parte3 div button{
        font-size: 20px;
        border-radius: 5px;
    }
    /* parte4 */
    .parte4{
        display: none;
    }
    .tituloparte4 div{
        font-size: 10px;
        padding: 2% 10%;
    }
    .tituloparte4 h2{
        font-size: 28px;
    }
    .tituloparte4 p{
        font-size: 16px;
    }
    .imgmovil{
        padding: 2% 10%;
    }
    .imgmovil div img{
        width: 100%;
    }
    .imgmovil div h2{
        font-size: 33px;
    }
    .imgmovil div .uno{
        font-size: 31px;
        left: 77%;
        top: 42%;
        position: absolute;
    }
    .imgmovil div .dos{
        font-size: 31px;
        left: 85%;
        top: 84%;
        position: absolute;
    }
    /* pie de pagina */
    .footer{
        padding: 10% 10%;
    }
    .footer .text-light .col-12, .footer .text-light .col-md-2{
        padding-bottom: 7%;
    }
    .footer .footerp1 h2{
        font-size: 31px;
    }
    .footer .footerp1 p{
        font-size: 14px;
    }
    .footer .footerp2 h4{
        font-size: 23px;
    }
    .footer .footerp2 ul{
        font-size: 15px;
    }
    .footer .footerp3 h4{
        font-size: 23px;
    }
    .footer .footerp3 ul{
        font-size: 15px;
    }
    .footer .footerp4 h4{
        font-size: 23px;
        padding-top: 5%;
    }
    .footer .footerp4 i{
        font-size: 23px;
    }
    .footer .footerp4 p{
        font-size: 20px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
    nav .buscador2{
        display: block;
    }
    nav .buscador1 .logo{
        width: 80%;
    }
    nav .buscador1 .menu{
        width: 10%;
        text-align: end;
    }
    nav .buscador1 .menu a{
        color: white;
    }
    nav .buscador1{
        font-size: 25px;
        padding: 4% 4%;
        justify-content: space-between;
    }
    nav .buscador2{
        font-size: 22px;
        padding: 0 0 7% 0%;
    }
    /* parte1 */
    .parte1{
        width: 100%;
        margin: 0;
        justify-content: center;
        padding-bottom: 2%;
        position: relative;
    }
    .parte1 .columna1 .tp{
        display: none;
    }
    .parte1 .columna1{
        order: 2;
        padding: 0;
        text-align: center;
        width: 80%;
        color: white;
    }
    .parte1 .columna2{
        width: 90%;
        padding: 4% 0%;
        color: white;
        justify-content: center;
        display: flex;
    }
    .parte1 .columna1 h2{
        font-size: 45px;
        margin: 0px 0 6% 0;
        text-align: center;
    }
    .parte1 .columna1 p{
        font-size: 32px;
        text-align: center;
    }
    .parte1 .columna1 .boton1p1{
        font-size: 22px;
        border-radius: 2px;
        border: 0;
        padding: 2px 5%;
    }
    .parte1 .columna1 .boton2p1{
        font-size: 22px;
        padding: 1px 9%;
        border-radius: 2px;
    }
    .parte1 .columna2 .img-fluit{
        width: 80%;
    }
    .parte1 .columna2 .tp1{
        left: 4%;
        top: 18%;
        font-size: 18px;
    }
    .parte1 .columna2 .tp2{
        left: 29%;
        top: -3%;
        font-size: 18px;
    }
    .parte1 .columna2 .tp3{
        right: 4%;
        top: 9%;
        font-size: 18px;
    }
    .parte1 .columna2 .img{
        display: none;
    }
    /* parte2 */
    .parte2 .img{
        width: 80%;
    }
    .parte2 .textop2{
        width: 80%;
        color: white;
    }
    .parte2 .textop2 h2{
        font-size: 36px;
        margin-top: 10%;
    }
    .parte2 .textop2 p{
        font-size: 18px;
        margin:0 0 5% 0;
    }
    .parte2 .textop2 button{
        font-size: 26px;
        border-radius: 5px;
        color: white;
    }
    /* parte3 */
    .parte3 .eliminar{
        display: none;
    }
    .parte3, .tituloparte3{
        padding: 6% 12%;
        color: white;
        gap: 15px;
    }
    .tituloparte3 h2{
        font-size: 34px;
        padding-right: 5%;
    }
    .tituloparte3 a{
        top: 23%;
        position: absolute;
        right: 13%;
    }
    .tituloparte3 p{
        font-size: 26px;
    }
    .parte3 div img{
        width: 100%;
    }
    .parte3 div h4{
        font-size: 23px;
        margin-top: 5%;
    }
    .parte3 div p{
        font-size: 24px;
    }
    .parte3 div button{
        font-size: 25px;
        border-radius: 5px;
    }
    /* parte4 */
    .parte4{
        display: none;
    }
    .tituloparte4 div{
        font-size: 10px;
        padding: 2% 10%;
    }
    .tituloparte4 h2{
        font-size: 35px;
    }
    .tituloparte4 p{
        font-size: 20px;
    }
    .imgmovil{
        padding: 2% 10%;
    }
    .imgmovil div img{
        width: 100%;
    }
    .imgmovil div h2{
        font-size: 43px;
    }
    .imgmovil div .uno{
        font-size: 43px;
        left: 77%;
        top: 41%;
        position: absolute;
    }
    .imgmovil div .dos{
        font-size: 43px;
        left: 85%;
        top: 84%;
        position: absolute;
    }
    /* pie de pagina */
    .footer{
        padding: 10% 10%;
    }
    .footer .text-light .col-12, .footer .text-light .col-md-2{
        padding-bottom: 7%;
    }
    .footer .footerp1 h2{
        font-size: 35px;
    }
    .footer .footerp1 p{
        font-size: 17px;
    }
    .footer .footerp2 h4{
        font-size: 23px;
    }
    .footer .footerp2 ul{
        font-size: 15px;
    }
    .footer .footerp3 h4{
        font-size: 23px;
    }
    .footer .footerp3 ul{
        font-size: 15px;
    }
    .footer .footerp4 h4{
        font-size: 23px;
        padding-top: 5%;
    }
    .footer .footerp4 i{
        font-size: 23px;
    }
    .footer .footerp4 p{
        font-size: 25px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    nav .buscador1 .busca{
        display: block;
        padding: 0;
        font-size: 14px;
    }
    nav .buscador1 .menu{
        display: none;
    }
    nav .buscador1 .logo{
        width: 50%;
    }
    /* parte1 */
    .parte1 .columna2 .logosp2{
        display:none;
    }
    .parte1 .columna2 div{
        display:none;
    }
    .parte1{
        margin: 0;
        padding: 2% 8%;
    }
    .parte1 .columna1{
        padding: 0;
        color: white;
    }
    .parte1 .columna1 h2{
        font-size: 25px;
        padding-right: 10%;
    }
    .parte1 .columna1 .parrafop1{
        font-size: 11px;
        padding-right: 22%;
    }
    .parte1 .columna1 button{
        font-size: 15px;
        border-radius: 3px;
        padding: 1% 4%;
    }
    .parte1 .columna1 .tp{
        padding-top: 2%;
        padding-left: 4%;
    }
    .parte1 .columna1 .tp .p1 div h3{
        font-size: 18px;
    }
    .parte1 .columna1 .tp .p2{
        font-size: 13px;
    }
    .parte1 .columna2{
        position: relative;
    }
    .parte1 .columna2 img{
        width: 100%;
    }
    .parte1 .columna2 .img{
        top: 81px;
        width: 10%;
        left: 0%;
    }
    /* parte2 */
    .parte2{
        margin: 0;
        padding: 2% 8%;
        gap: 37px;
    }
    .parte2 .img, .parte2 .textop2{
        width: 47%;
        color: white;
    }
    .parte2 .textop2 h2{
        font-size: 20px;
        margin-top: 10%;
    }
    .parte2 .textop2 p{
        font-size: 11px;
        margin:0 0 5% 0;
    }
    .parte2 .textop2 button{
        font-size: 18px;
        border-radius: 5px;
        color: white;
    }
    /* parte3 */
    .tituloparte3 a{
        display: none;
    }
    .parte3, .tituloparte3{
        padding: 3% 10%;
        color: white;
        gap: 10px;
    }
    .tituloparte3 h2{
        font-size: 27px;
        text-align: center;
        padding: 0px 13%;
    }
    .tituloparte3 a{
        top: 23%;
        position: absolute;
        right: 13%;
    }
    .tituloparte3 p{
        font-size: 13px;
        text-align: center;
        padding: 0 15%;
    }
    .parte3 div img{
        width: 100%;
    }
    .parte3 div h4{
        font-size: 11px;
        margin-top: 5%;
    }
    .parte3 div p{
        font-size: 10px;
    }
    .parte3 div button{
        font-size: 13px;
        border-radius: 5px;
    }
    /* parte4 */
    .imgmovil{
        display: none;
    }
    .tituloparte4{
        padding: 2% 8%;
    }

    .tituloparte4 div h2{
        font-size: 30px;
    }
    .tituloparte4 div p{
        font-size: 13px;
        padding: 0 15%;
    }
    .parte4 div img{
        width: 100%;
    }
    .parte4 .imagen2 {
        text-align: end;
        width: 9%;
    } 
    .parte4 .imagen2 .img{
        width: 88%;
    }
    /* pie de pagina */
    .footer{
        padding: 5% 5%;
        margin-top: 8%;
    }
    .footer h4, .footer h2{
        font-size: 15px;
    }
    .footer li, .footer p{
        font-size: 8px;
    }
    .footer i{
        font-size: 18px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    nav .buscador1 .busca{
        display: block;
        padding: 0;
        font-size: 19px;
    }
    nav .buscador1 .menu{
        display: none;
    }
    nav .buscador1 .logo{
        width: 50%;
        font-size: 30px;
    }
    /* parte1 */
    .parte1 .columna2 .logosp2{
        display:none;
    }
    .parte1 .columna2 div{
        display:none;
    }
    .parte1{
        margin: 0;
        padding: 2% 8%;
    }
    .parte1 .columna1{
        padding: 0;
        color: white;
    }
    .parte1 .columna1 h2{
        font-size: 32px;
        padding-right: 10%;
    }
    .parte1 .columna1 .parrafop1{
        font-size: 14px;
        padding-right: 22%;
    }
    .parte1 .columna1 button{
        font-size: 19px;
        border-radius: 3px;
        padding: 1% 4%;
    }
    .parte1 .columna1 .tp{
        padding-top: 2%;
        padding-left: 4%;
    }
    .parte1 .columna1 .tp .p1 div h3{
        font-size: 29px;
    }
    .parte1 .columna1 .tp .p2{
        font-size: 19px;
    }
    .parte1 .columna2{
        position: relative;
    }
    .parte1 .columna2 img{
        width: 100%;
    }
    .parte1 .columna2 .img{
        top: 107px;
        width: 10%;
        left: 0%;
    }
    /* parte2 */
    .parte2{
        margin: 0;
        padding: 2% 8%;
        gap: 37px;
    }
    .parte2 .img, .parte2 .textop2{
        width: 47%;
        color: white;
    }
    .parte2 .textop2 h2{
        font-size: 28px;
        margin-top: 10%;
    }
    .parte2 .textop2 p{
        font-size: 14px;
        margin:0 0 5% 0;
    }
    .parte2 .textop2 button{
        font-size: 21px;
        border-radius: 5px;
        color: white;
    }
    /* parte3 */
    .tituloparte3 a{
        display: none;
    }
    .parte3, .tituloparte3{
        padding: 3% 10%;
        color: white;
        gap: 16px;
    }
    .tituloparte3 h2{
        font-size: 35px;
        text-align: center;
        padding: 0px 13%;
    }
    .tituloparte3 a{
        top: 23%;
        position: absolute;
        right: 13%;
    }
    .tituloparte3 p{
        font-size: 17px;
        text-align: center;
        padding: 0 15%;
    }
    .parte3 div img{
        width: 100%;
    }
    .parte3 div h4{
        font-size: 16px;
        margin-top: 5%;
    }
    .parte3 div p{
        font-size: 13px;
    }
    .parte3 div button{
        font-size: 15px;
        border-radius: 5px;
    }
    /* parte4 */
    .imgmovil{
        display: none;
    }
    .tituloparte4{
        padding: 2% 8%;
    }

    .tituloparte4 div h2{
        font-size: 34px;
    }
    .tituloparte4 div p{
        font-size: 17px;
        padding: 0 15%;
    }
    .parte4{
        gap: -1px;
    }
    .parte4 div img{
        width: 100%;
    }
    .parte4 .imagen2 {
        text-align: end;
        width: 9%;
    } 
    .parte4 .imagen2 .img{
        width: 90%;
    } 
    /* pie de pagina */
    .footer{
        padding: 5% 5%;
        margin-top: 8%;
    }
    .footer h4, .footer h2{
        font-size: 25px;
    }
    .footer li, .footer p{
        font-size: 11px;
    }
    .footer i{
        font-size: 26px;
    }
}
@media (min-width: 1200px) and (max-width: 1399.98px){
    nav .buscador1 .busca{
        display: block;
        padding: 0;
        font-size: 17px;
    }
    nav .buscador1 .menu{
        display: none;
    }
    nav .buscador1 .logo{
        width: 50%;
        font-size: 30px;
    }
    /* parte1 */
    .parte1 .columna2 .logosp2{
        display:none;
    }
    .parte1 .columna2 div{
        display:none;
    }
    .parte1{
        margin: 0;
        padding: 2% 8%;
    }
    .parte1 .columna1{
        padding: 0;
        color: white;
    }
    .parte1 .columna1 h2{
        font-size: 39px;
        padding-right: 10%;
    }
    .parte1 .columna1 .parrafop1{
        font-size: 17px;
        padding-right: 22%;
    }
    .parte1 .columna1 button{
        font-size: 24px;
        border-radius: 3px;
        padding: 1% 4%;
    }
    .parte1 .columna1 .tp{
        padding-top: 2%;
        padding-left: 4%;
    }
    .parte1 .columna1 .tp .p1 div h3{
        font-size: 29px;
    }
    .parte1 .columna1 .tp .p2{
        font-size: 19px;
    }
    .parte1 .columna2{
        position: relative;
    }
    .parte1 .columna2 img{
        width: 100%;
    }
    .parte1 .columna2 .img{
        top: 107px;
        width: 10%;
        left: 0%;
    }
    /* parte2 */
    .parte2{
        margin: 0;
        padding: 2% 8%;
        gap: 37px;
    }
    .parte2 .img, .parte2 .textop2{
        width: 47%;
        color: white;
    }
    .parte2 .textop2 h2{
        font-size: 35px;
        margin-top: 10%;
    }
    .parte2 .textop2 p{
        font-size: 17px;
        margin:0 0 5% 0;
    }
    .parte2 .textop2 button{
        font-size: 24px;
        border-radius: 5px;
        color: white;
    }
    /* parte3 */
    .tituloparte3 a{
        display: none;
    }
    .parte3, .tituloparte3{
        padding: 3% 10%;
        color: white;
        gap: 16px;
    }
    .tituloparte3 h2{
        font-size: 42px;
        text-align: center;
        padding: 0px 13%;
    }
    .tituloparte3 a{
        top: 23%;
        position: absolute;
        right: 13%;
    }
    .tituloparte3 p{
        font-size: 21px;
        text-align: center;
        padding: 0 15%;
    }
    .parte3 div img{
        width: 100%;
    }
    .parte3 div h4{
        font-size: 18px;
        margin-top: 5%;
    }
    .parte3 div p{
        font-size: 16px;
    }
    .parte3 div button{
        font-size: 17px;
        border-radius: 5px;
    }
    /* parte4 */
    .imgmovil{
        display: none;
    }
    .tituloparte4{
        padding: 2% 8%;
    }

    .tituloparte4 div h2{
        font-size: 39px;
    }
    .tituloparte4 div p{
        font-size: 21px;
        padding: 0 15%;
    }
    .parte4{
        color: white;
    }
    .parte4 div img{
        width: 100%;
    }
    .parte4 .imagen2 {
        text-align: end;
        width: 9%;
    } 
    .parte4 .imagen2 .img{
        width: 82%;
    }
    /* pie de pagina */
    .footer{
        padding: 5% 5%;
        margin-top: 8%;
    }
    .footer h4, .footer h2{
        font-size: 31px;
    }
    .footer li, .footer p{
        font-size: 15px;
    }
    .footer i{
        font-size: 30px;
    } 
}
@media (min-width: 1400px) and (max-width:1699.98px){
    nav .buscador1 .busca{
        display: block;
        padding: 0;
        font-size: 20px;
    }
    nav .buscador1 .menu{
        display: none;
    }
    nav .buscador1 .logo{
        font-size: 30px;
        width: 50%;
    }
    /* parte1 */
    .parte1 .columna2 .logosp2{
        display:none;
    }
    .parte1 .columna2 div{
        display:none;
    }
    .parte1{
        margin: 0;
        padding: 2% 8%;
    }
    .parte1 .columna1{
        padding: 0;
        color: white;
    }
    .parte1 .columna1 h2{
        font-size: 46px;
        padding-right: 10%;
    }
    .parte1 .columna1 .parrafop1{
        font-size: 20px;
        padding-right: 22%;
    }
    .parte1 .columna1 button{
        font-size: 31px;
        border-radius: 3px;
        padding: 1% 4%;
    }
    .parte1 .columna1 .tp{
        padding-top: 2%;
        padding-left: 4%;
    }
    .parte1 .columna1 .tp .p1 div h3{
        font-size: 29px;
    }
    .parte1 .columna1 .tp .p2{
        font-size: 19px;
    }
    .parte1 .columna2{
        position: relative;
    }
    .parte1 .columna2 img{
        width: 100%;
    }
    .parte1 .columna2 .img{
        top: 107px;
        width: 10%;
        left: 0%;
    }
    /* parte2 */
    .parte2{
        margin: 0;
        padding: 2% 8%;
        gap: 37px;
    }
    .parte2 .img, .parte2 .textop2{
        width: 47%;
        color: white;
    }
    .parte2 .textop2 h2{
        font-size: 45px;
        margin-top: 10%;
    }
    .parte2 .textop2 p{
        font-size: 20px;
        margin:0 0 5% 0;
    }
    .parte2 .textop2 button{
        font-size: 26px;
        border-radius: 5px;
        color: white;
    }
    /* parte3 */
    .tituloparte3 a{
        display: none;
    }
    .parte3, .tituloparte3{
        padding: 3% 10%;
        color: white;
        gap: 16px;
    }
    .tituloparte3 h2{
        font-size: 49px;
        text-align: center;
        padding: 0px 13%;
    }
    .tituloparte3 a{
        top: 23%;
        position: absolute;
        right: 13%;
    }
    .tituloparte3 p{
        font-size: 25px;
        text-align: center;
        padding: 0 15%;
    }
    .parte3 div img{
        width: 100%;
    }
    .parte3 div h4{
        font-size: 20px;
        margin-top: 5%;
    }
    .parte3 div p{
        font-size: 18px;
    }
    .parte3 div button{
        font-size: 21px;
        border-radius: 5px;
    }
    /* parte4 */
    .imgmovil{
        display: none;
    }
    .tituloparte4{
        padding: 2% 8%;
    }

    .tituloparte4 div h2{
        font-size: 42px;
    }
    .tituloparte4 div p{
        font-size: 24px;
        padding: 0 15%;
    }
    .parte4{
        gap: -1px;
    }
    .parte4 div img{
        width: 100%;
    }
    .parte4 .imagen2 {
        text-align: end;
        width: 9%;
    } 
    .parte4 .imagen2 .img{
        width: 79%;
    }
    /* pie de pagina */
    .footer{
        padding: 5% 5%;
        margin-top: 8%;
    }
    .footer h4, .footer h2{
        font-size: 37px;
    }
    .footer li, .footer p{
        font-size: 18px;
    }
    .footer i{
        font-size: 38px;
    } 
}
@media (min-width: 1700px) and (max-width:1999.98px){
    nav .buscador1 .busca{
        display: block;
        padding: 0;
        font-size: 23px;
    }
    nav .buscador1 .menu{
        display: none;
    }
    nav .buscador1 .logo{
        width: 50%;
        font-size: 35px;
    }
    /* parte1 */
    .parte1 .columna2 .logosp2{
        display:none;
    }
    .parte1 .columna2 div{
        display:none;
    }
    .parte1{
        margin: 0;
        padding: 2% 8%;
    }
    .parte1 .columna1{
        padding: 0;
        color: white;
    }
    .parte1 .columna1 h2{
        font-size: 56px;
        padding-right: 10%;
    }
    .parte1 .columna1 .parrafop1{
        font-size: 24px;
        padding-right: 22%;
    }
    .parte1 .columna1 button{
        font-size: 36px;
        border-radius: 11px;
        padding: 1% 4%;
    }
    .parte1 .columna1 .tp{
        padding-top: 2%;
        padding-left: 4%;
    }
    .parte1 .columna1 .tp .p1 div h3{
        font-size: 29px;
    }
    .parte1 .columna1 .tp .p2{
        font-size: 19px;
    }
    .parte1 .columna2{
        position: relative;
    }
    .parte1 .columna2 img{
        width: 100%;
    }
    .parte1 .columna2 .img{
        top: 107px;
        width: 10%;
        left: 0%;
    }
    /* parte2 */
    .parte2{
        margin: 0;
        padding: 2% 8%;
        gap: 37px;
    }
    .parte2 .img, .parte2 .textop2{
        width: 47%;
        color: white;
    }
    .parte2 .textop2 h2{
        font-size: 54px;
        margin-top: 10%;
    }
    .parte2 .textop2 p{
        font-size: 25px;
        margin:0 0 5% 0;
    }
    .parte2 .textop2 button{
        font-size: 31px;
        border-radius: 5px;
        color: white;
    }
    /* parte3 */
    .tituloparte3 a{
        display: none;
    }
    .parte3, .tituloparte3{
        padding: 3% 10%;
        color: white;
        gap: 16px;
    }
    .tituloparte3 h2{
        font-size: 59px;
        text-align: center;
        padding: 0px 13%;
    }
    .tituloparte3 a{
        top: 23%;
        position: absolute;
        right: 13%;
    }
    .tituloparte3 p{
        font-size: 30px;
        text-align: center;
        padding: 0 15%;
    }
    .parte3 div img{
        width: 100%;
    }
    .parte3 div h4{
        font-size: 24px;
        margin-top: 5%;
    }
    .parte3 div p{
        font-size: 23px;
    }
    .parte3 div button{
        font-size: 25px;
        border-radius: 5px;
    }
    /* parte4 */
    .imgmovil{
        display: none;
    }
    .tituloparte4{
        padding: 2% 8%;
    }

    .tituloparte4 div h2{
        font-size: 45px;
    }
    .tituloparte4 div p{
        font-size: 29px;
        padding: 0 15%;
    }
    .parte4{
        gap: -1px;
    }
    .parte4 div img{
        width: 100%;
    }
    .parte4 .imagen2 {
        text-align: end;
        width: 9%;
    } 
    .parte4 .imagen2 .img{
        width: 76%;
    }
    /* pie de pagina */
    .footer{
        padding: 5% 5%;
        margin-top: 8%;
    }
    .footer h4, .footer h2{
        font-size: 46px;
    }
    .footer li, .footer p{
        font-size: 21px;
    }
    .footer i{
        font-size: 52px;
    } 
}
@media (min-width: 2000px){
    nav .buscador1 .busca{
        display: block;
        padding: 0;
        font-size: 26px;
    }
    nav .buscador1 .menu{
        display: none;
    }
    nav .buscador1 .logo{
        width: 50%;
        font-size: 40px;
    }
    /* parte1 */
    .parte1 .columna2 .logosp2{
        display:none;
    }
    .parte1 .columna2 div{
        display:none;
    }
    .parte1{
        margin: 0;
        gap: 0px;
        padding: 2% 8%;
    }
    .parte1 .columna1{
        padding: 0;
        color: white;
    }
    .parte1 .columna1 h2{
        font-size: 66px;
        padding-right: 10%;
    }
    .parte1 .columna1 .parrafop1{
        font-size: 29px;
        padding-right: 22%;
    }
    .parte1 .columna1 button{
        font-size: 45px;
        border-radius: 11px;
        padding: 1% 4%;
    }
    .parte1 .columna1 .tp{
        padding-top: 2%;
        padding-left: 4%;
    }
    .parte1 .columna1 .tp .p1 div h3{
        font-size: 29px;
    }
    .parte1 .columna1 .tp .p2{
        font-size: 19px;
    }
    .parte1 .columna2{
        position: relative;
    }
    .parte1 .columna2 img{
        width: 100%;
    }
    .parte1 .columna2 .img{
        top: 107px;
        width: 10%;
        left: 0%;
    }
    /* parte2 */
    .parte2{
        margin: 0;
        padding: 2% 8%;
        gap: 37px;
    }
    .parte2 .img, .parte2 .textop2{
        width: 47%;
        color: white;
    }
    .parte2 .textop2 h2{
        font-size: 65px;
        margin-top: 10%;
    }
    .parte2 .textop2 p{
        font-size: 30px;
        margin:0 0 5% 0;
    }
    .parte2 .textop2 button{
        font-size: 44px;
        border-radius: 5px;
        color: white;
    }
    /* parte3 */
    .tituloparte3 a{
        display: none;
    }
    .parte3, .tituloparte3{
        padding: 3% 10%;
        color: white;
        gap: 16px;
    }
    .tituloparte3 h2{
        font-size: 70px;
        text-align: center;
        padding: 0px 13%;
    }
    .tituloparte3 a{
        top: 23%;
        position: absolute;
        right: 13%;
    }
    .tituloparte3 p{
        font-size: 35px;
        text-align: center;
        padding: 0 15%;
    }
    .parte3 div img{
        width: 100%;
    }
    .parte3 div h4{
        font-size: 29px;
        margin-top: 5%;
    }
    .parte3 div p{
        font-size: 27px;
    }
    .parte3 div button{
        font-size: 31px;
        border-radius: 5px;
    }
    /* parte4 */
    .imgmovil{
        display: none;
    }
    .tituloparte4{
        padding: 2% 8%;
    }

    .tituloparte4 div h2{
        font-size: 57px;
    }
    .tituloparte4 div p{
        font-size: 35px;
        padding: 0 15%;
    }
    .parte4{
        color: white;
        overflow: scroll;
    }
    .parte4 div img{
        width: 100%;
    }
    .parte4 .imagen2 {
        text-align: end;
        width: 9%;
    } 
    .parte4 .imagen2 .img{
        width: 75%;
    }
    /* pie de pagina */
    .footer{
        padding: 5% 5%;
        margin-top: 8%;
    }
    .footer h4, .footer h2{
        font-size: 50px;
    }
    .footer li, .footer p{
        font-size: 24px;
    }
    .footer i{
        font-size: 52px;
    } 
}
@media (min-width:768px) {
    .parte3 div{
        width: 32%;
    }
}
